COFFEE DS ASSIGNMENT 1

In [ ]:
#1
a = input("First Name : ")
b = input("Last Name : ")
print (b + " " + a)

In [ ]:
#2
numbers = [int(x) for x in input().split(',')]
print("List: "+str(numbers))
print("Tuple: "+str(tuple(numbers)))

In [ ]:
#3
color_list = ["Red","Green","White" ,"Black"]
print(color_list[0] + " " + color_list[-1])

In [ ]:
#4
print(abs.__doc__)

Return the absolute value of the argument.

In [ ]:
#5
import calendar as c
y = int(input("Year: "))
m = int(input("Month: "))
print(c.month(y, m))

In [ ]:
#6
from datetime import date as d
x = d(2014, 7, 2)
y = d(2014, 7, 11)
z = y - x
print(z.days)

In [ ]:
#7
z = []
l = input("enter values")
z.append(l)
print(z)
x = input("Value to find")
#for i in range(len(l)):
if x in l:
   print("Ture")
else:
    print("False")

In [ ]:
#8
def histogram( items ):
    for n in items:
        output = ''
        times = n
        while( times > 0 ):
          output += '*'
          times = times - 1
        print(output)

histogram([2, 3, 6, 5])

In [ ]:
#9
list = [2,4,8,11]
x = ''
for i in list:
  x = x+str(i)
print(x)

24811

In [ ]:
#10
x = set(["White", "Black", "Red"])
y = set(["Red", "Green"])
print(set(x-y))

{'White', 'Black'}

In [ ]:
#11
import os.path
print(os.path.isfile('sak.txt'))

In [ ]:
#12
from subprocess import call
call(["ls", "-l"])

In [ ]:
#13
import multiprocessing
print(multiprocessing.cpu_count())

In [ ]:
#dont know
#14
from os import listdir

In [ ]:
#15
import os
print(os.environ)
print(' ')
# Access a particular environment variable 
print(os.environ['HOME'])
print(' ')

In [ ]:
#16
import getpass
print(getpass.getuser())

In [ ]:
#17
import time
dont know

In [ ]:
#18
import os
print(os.path.abspath('path_fname'))

/content/path_fname

In [ ]:
#19
import os.path, time
print("Last modified: %s" % time.ctime(os.path.getmtime("test.txt")))
print("Created: %s" % time.ctime(os.path.getctime("test.txt")))

In [ ]:
#20
x = int(input("Input first number: "))
y = int(input("Input second number: "))
z = int(input("Input third number: "))

a1 = min(x, y, z)
a3 = max(x, y, z)
a2 = (x + y + z) - a1 - a3
print("Numbers in sorted order: ", a1, a2, a3)

In [ ]:
#21

# **Python Data Structure**

In [ ]:
#1
a =[1,3,9]
for i in a:
    print(i)
print("Access first three items individually")
print(a[0])
print(a[1])
print(a[2])

In [ ]:
a = [1,2,3,4]
print(a[::-1])

[4, 3, 2, 1]

In [ ]:
a = [1, 3, 5, 5, 5, 9, 3]
n = int(input())
count = 0
for i in a:
  if n == i:
    count = count+1
print(count)

In [ ]:
#4
a = [1, 3, 5, 5, 9, 5]
n = int(input())
count = 0
for i in a:
  if n == i:
    a.remove(i)
    break
print(a)

# **Dictionary**

In [ ]:
#1
e = input()
d = {}
for i in e:
   if i not in d:
     d[i]=0
   d[i]+=1
print(sorted(d.items()))
print(sorted(d.values()))
a = sorted(d.values())
print(a[::-1])

helloo
[('e', 1), ('h', 1), ('l', 2), ('o', 2)]
[1, 1, 2, 2]
[2, 2, 1, 1]

In [ ]:
#2
d = {0:10, 1:20}
print(d)
d.update({2:30})
print(d)

{0: 10, 1: 20}
{0: 10, 1: 20, 2: 30}

In [ ]:
#3
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
#4
d1={1:10, 2:20}
for d in d1.items():
  print(d)

(1, 10)
(2, 20)

In [ ]:
#5
n = int(input())
d = {}
for i in range(1,n+1):
    if i not in d:
      d[i]=0
    d[i]=i*i  
print(d)

4
{1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
#6
md = {'a':1,'b':2,'c':3,'d':4}
print(md)
if 'c' in md: 
    del md['c']
print(md)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'd': 4}

In [ ]:
#7
d =  [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"},{"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
s = set()
for i in d:
    s.add(*i.values())
print(s)

{'S001', 'S009', 'S002', 'S005', 'S007'}

In [ ]:
#8
s = 'w3resource'
d = {}
for i in s:
  if i not in d:
      d[i]=0
  d[i]+=1
print(d)

{'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}

In [ ]:
#9
d = {'id': 1, 'success': True, 'name': 'Lary'}
print("Keys \t\tValues")
for i in d:
    print(i,"\t\t",d[i])

Keys 		Values
id 		 1
success 		 True
name 		 Lary

In [ ]:
#10
d = [{'id': 1, 'success': True, 'name': 'Lary'}, {'id': 2, 'success':False, 'name': 'Rabi'}, {'id': 3, 'success': True, 'name': 'Alex'}]
count = 0
for i in d:
  for j in i.items():
      if j ==('success',True):
         count+=1
print(count)

2

In [ ]:
#11
a = [1,2,3,4]
d = c = {}
for i in a:
  c[i] = {}
  c = c[i]
print(d)

{1: {2: {3: {4: {}}}}}

In [ ]:
#12
d = {1:1, 1:3, 1:4, 2:3}
a = int(input())
if a not in d.keys():
  print('not exist')
else:
  print('exist')

3
not exist

In [ ]:
#14
d = {'X' : [1,2,3,4,5,6,7,8,9],
     'Y' : 12,
     'Z' :[7,8,9,6,4]}
a = 0
for i in d:
  if isinstance(d[i],list)==True:
    a+=sum([len(d[i])])
print(a)

## **Set**

In [ ]:
#1
x = set([0, 1, 2, 3, 4])
print(x)

{0, 1, 2, 3, 4}

In [ ]:
#2
x = set([0, 1, 2, 3, 4, 5])
for n in x:
  print(n, end=' ')

0 1 2 3 4 5

In [ ]:
#3
c = set()
print(c)
print("\nAdd:")
c.add("R")
print(c)
print("\nAdd more:")
c.update(["S", "T"])
print(c)

In [ ]:
#4
x = set([0, 1, 2, 3, 4, 5])
x.remove(1)
print(x)

{0, 2, 3, 4, 5}

In [ ]:
#5
num_set = set([0, 1, 2, 3, 4, 5])
print("Original set elements:")
print(num_set)
print("\nRemove 5 from the said set:")
num_set.discard(3)
print(num_set)
print("\nRemove 2 from the said set:")
num_set.discard(3)
print(num_set)

In [ ]:
#6
x = set(["green", "blue"])
y = set(["blue", "yellow"])
print("\nIntersection: ")
z = x & y
print(z)

Intersection:
{'blue', 'yellow', 'green'}

In [ ]:
#7
x = set(["green", "blue"])
y = set(["blue", "yellow"])
print("\nUnion: ")
z = x | y
print(z)

Intersection:
{'blue', 'yellow', 'green'}

In [ ]:
#8
x = set(["green", "blue"])
y = set(["blue", "yellow"])
print("\nDifference: ")
z = x - y
print(z)

Difference:
{'green'}

In [ ]:
x = set(["green", "blue"])
y = set(["blue", "yellow"])
print("\n Sym Difference: ")
z = x.symmetric_difference(y)
print(z)

 Sym Difference:
{'yellow', 'green'}

In [ ]:
#10
y = set(["blue", "yellow"])
y.clear()
print(y)

set()

In [ ]:
#11
x = frozenset([1, 2, 3, 4, 5])
print(x)
x.add(8)
print(x)

In [ ]:
#12
x = {1, 2, 3, 4, 5}
y = max(x)
z = min(x)
print(y)
print(z)

# **String**

In [ ]:
#1
def s(x):
    count = 0
    for char in x:
        count += 1
    return count
print(s("Sakshi Rohida"))

13

In [ ]:
#2
s = "sakshi"
d = {}
for n in s:
   if n not in d:
     d[n]=0
   d[n]+=1  
print(d)

{'s': 2, 'a': 1, 'k': 1, 'h': 1, 'i': 1}

In [ ]:
#3
s = "sakshi"
x = s[0]
s = s.replace(x,"$")
print(x+s[1:])

sak$hi

In [ ]:
#4
def x(str1):
  length = len(str1)

  if length > 2:
    if str1[-3:] == 'ing':
      str1 += 'ly'
    else:
      str1 += 'ing'
  return str1

print(x('ab'))
print(x('abc'))
print(x('string'))

ab
abcing
stringly

In [ ]:
#5
l = ["Sakshi","Yaju","Ram"]
# x = []
# for i in l:
#   x.append(len(i))
# print(max(x))
print(max(l,key=len))
print(len(max(l,key=len)))

Sakshi
6

In [ ]:
#6
x = input("String: ")
print(x.upper())
print(x.lower())

In [ ]:
#7
x = input().split(',')
c = list(set(x))
c.sort()
print(str(c))

In [ ]:
#8
z = "https://www.w3resource.com/python-exercises"
print(z.rsplit('/',1)[0])

https://www.w3resource.com

In [ ]:
#9 dont know
#10
s = 'My name is sakshi.'
print()
print(s.count("is"))
print()

1

In [ ]:
#11
s = "sakshi"
print(s[::-1])

ihskas

In [ ]:
#12
n = 5
s = "aBcdeFGgh"
print(s[:n].lower() + s[n:])

abcdeFGgh

## **List**

In [ ]:
#1
def sum_list(items):
    sum = 0
    for x in items:
        sum += x
    return sum
print(sum_list([1,2,-4]))

-5

In [ ]:
#2
def sum_list(items):
    sum = 1
    for x in items:
        sum *= x
    return sum
print(sum_list([1,2,-4]))

-8

In [ ]:
#3
d = [1,4,5,2,0]
print(min(d))

0

In [ ]:
d = ['abc', 'xyz', 'aba', '1221']
c = 0
for i in d:
    if len(i) > 1 and i[0] == i[-1]:
      c += 1
print(c)

2

In [ ]:
#5
a = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
def last(a): 
   print(a[-1])
def sort_last(tuples):  
   print(sorted(tuples, key=last))

In [ ]:
#6
a = [10,20,30,20,10,50,60]
print(set(a))

In [ ]:
#7
a = [10,20,30,20]
b = a
print(a)
print(b)

[10, 20, 30, 20]
[10, 20, 30, 20]

In [ ]:
#8
n = 3
x = []
d = ["abcd","xyz", "ababab", "bcbc", "ba"]
for i in d:
  if len(i)>n:
    x.append(i)
print(x)

['abcd', 'ababab', 'bcbc']

In [ ]:
a = [1, 2, 3, 4]
b = [5, 2, 8, 9]
for i in a:
  for j in b:
    if i == j:
      print("True")
    else:
      print("false")

In [ ]:
#10
a = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
d = []
d.append(a[1]+a[2]+a[3])
print(d,)

['GreenWhiteBlack']

In [ ]:
#14
list1 = [10, 10, 0, 0, 10]
list2 = [10, 10, 10, 0, 0]
list3 = [1, 10, 10, 0, 0]

print('Compare list1 and list2')
print(' '.join(map(str, list2)) in ' '.join(map(str, list1 * 2)))
print('Compare list1 and list3')
print(' '.join(map(str, list3)) in ' '.join(map(str, list1 * 2)))

## **Tuple**

In [ ]:
t = (1,2,'xyz')
print(t)

(1, 2, 'xyz')

In [ ]:
#3
tuplex = 2, 8, 3 
print(tuplex)
n1, n2, n3 = tuplex
print(n1 + n2 + n3)

In [ ]:
#6
tuplex = ("w", 3, "r", "e", "s", "o", "u", "r", "c", "e")
print("r" in tuplex)
print(5 in tuplex)

In [ ]:
#7
a = [5, 10, 7, 4, 15, 3]
z = tuple(a)
print(z)

(5, 10, 7, 4, 15, 3)